@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");
.wrapper#main-wrapper {
  display: grid;
  grid-template-rows: 0fr auto auto;
  height: 100%;
}
.wrapper#main-wrapper #navigation_bar {
  grid-template-columns: 1fr auto;
}
.wrapper#main-wrapper #navigation_bar #back-btn {
  display: none;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eef6fd;
}

.cover__text-block {
  margin-top: 2rem;
}
.cover__text-block .main-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
}
.cover__text-block .main-subtitle {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 1rem;
  color: #9e9e9e;
}

img.cover-image {
  margin-top: 3rem;
  margin-bottom: 0;
  margin-left: 2rem;
  width: 300px;
}

.bottom {
  display: flex;
  justify-content: center;
  padding: 3rem 3rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #2c3246;
  font-size: 1rem;
  color: #fff;
}

.bottom-wrapper {
  max-width: 600px;
  margin-bottom: 6rem;
}

#get-started-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

#get-started-btn {
  width: 10rem;
  height: 3rem;
  border-radius: 0.6rem;
  background-color: #50a8ea;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}
.tabs {
  display: flex;
  overflow-x: auto;
  width: 100%;
  margin-top: 2rem;
  padding: 0 2rem 1rem 2rem;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem;
  margin-right: 2rem;
  border-radius: 1rem;
  background-color: #ffffff;
}
.tab img {
  width: 25px;
  height: 25px;
}

.tab__name {
  white-space: nowrap;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #000;
}

.team {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 2rem;
}

.team__developer {
  display: flex;
  flex-direction: column;
}

.developer__head {
  display: flex;
  flex-direction: row;
}

#avatar {
  width: 70px;
  height: 70px;
}

.head__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.dev-name {
  padding: 0.2rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
}

.dev-skill {
  padding: 0.2rem 0;
  font-size: 1rem;
  color: #9e9e9e;
}

.developer__description {
  margin-top: 1rem;
}

.dev-description {
  font-size: 1rem;
  color: #000;
}

.instruments {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.instruments__card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #eef6fd;
}

.card__head {
  display: flex;
  flex-direction: row;
}

.card__head__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__head__icon img {
  width: 50px;
  height: 50px;
}

.card__head__name {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.card__description {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #000;
}

@media screen and (min-width: 767px) {
  .team {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1199px) {
  .team {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .instruments {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
.footer {
  display: flex;
  height: 200px;
  background-color: #eef6fd;
}
.footer p {
  margin: auto;
  font-size: 3rem;
  font-weight: 700;
  color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Montserrat";
  font-size: 14px;
}

body {
  height: 100%;
  width: 100%;
}

ul {
  padding: 0.5rem 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-family: "Montserrat";
}

span.bold {
  font-weight: 700;
}

span.accent {
  color: #50a8ea;
}

.wrapper#about_page {
  background-color: #eef6fd;
}
.wrapper#about_page #navigation_bar {
  background-color: #eef6fd;
}
.wrapper#about_page #navigation_bar #logo {
  color: #000;
}

.wrapper#services_page {
  background-color: #eef6fd;
}
.wrapper#services_page #navigation_bar {
  background-color: #eef6fd;
}
.wrapper#services_page #navigation_bar #logo {
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
}

.block {
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #ffffff;
}

.block__title {
  padding: 0 0 1rem 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
}

.section {
  padding: 1rem 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  width: 100%;
  margin-top: 2rem;
  padding: 0 2rem 1rem 2rem;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 0.7px rgba(0, 0, 0, 0.016), 0px 0px 2.5px rgba(0, 0, 0, 0.024), 0px 0px 11px rgba(0, 0, 0, 0.04);
}
.tab img {
  width: 25px;
  height: 25px;
}
.tab a {
  border-radius: 1rem;
}

.tab__name {
  white-space: nowrap;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #000;
}

.text {
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.image {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0.5rem 0;
}
.image img {
  width: 320px;
  border-radius: 1rem;
}

.image-description {
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 1rem;
  color: #9e9e9e;
}

@media screen and (min-width: 991px) {
  html {
    font-size: 12px;
  }

  .block {
    max-width: 70vw;
  }

  .section {
    max-width: 70vw;
  }
}
.instruments {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
}

.instruments__tool-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #2c3246;
  -webkit-animation: backInLeft;
          animation: backInLeft;
}
.instruments__tool-card#html-tool-card {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.instruments__tool-card#scss-tool-card {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.instruments__tool-card#js-tool-card {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
.instruments__tool-card#php-tool-card {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.tool-card__head {
  display: flex;
  flex-direction: row;
  color: #fff;
}

.tool-card__head__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tool-card__head__icon img {
  width: 50px;
  height: 50px;
}

.tool-card__head__name {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}

.tool-card__description {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #fff;
}

#frameworks__block {
  background-color: #1b1f2c;
}
#frameworks__block .block__title {
  color: #fff;
}

.framework-list__element {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  color: #70a6fd;
}
.framework-list__element a {
  color: #70a6fd;
}

.framework-list__element__description {
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #9e9e9e;
}

@media screen and (min-width: 1199px) {
  .instruments {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
#navigation_bar {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  padding: 2rem 2rem 0 2rem;
  background-color: #eef6fd;
}

#back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.7rem;
  transition: 0.3s ease;
}
#back-btn img {
  width: 26px;
  height: 26px;
}

#logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
}

#sidebar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border-radius: 1.2rem;
  background-color: #2c3246;
  transition: 0.3s ease;
}
#sidebar-btn img {
  width: 35px;
  height: 35px;
}

.sidebar-btn-animation {
  transform: rotate(90deg);
  transition: 0.3s ease;
}
.sidebar {
  position: absolute;
  width: 70vw;
  height: 100vh;
  padding: 3rem 2rem;
  background-color: #1b1f2c;
  transform: translateX(-100%);
  transition: 0.3s ease;
}

.sidebar-opened {
  transform: translateX(0%);
  transition: 0.3s ease;
}

.sidebar-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}

.menu-list {
  margin-top: 2rem;
}

.list-el {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  color: #fff;
}