@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");
.history {
  border-radius: 2rem 2rem 0 0;
  background-color: #e9ebf0;
}

.text-block#abouttext {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.team {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 2rem;
}

.member {
  display: grid;
  grid-template-rows: auto auto;
}

.member-head {
  display: flex;
  justify-content: flex-start;
}

.avatar {
  display: flex;
  align-items: flex-end;
}
.avatar img {
  width: 80px;
  height: 80px;
}

.name-and-skill {
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding-left: 1rem;
}

.member-name {
  display: flex;
  align-items: flex-end;
  font-size: 1.4rem;
  font-weight: 700;
}

.member-skill {
  font-size: 1rem;
  color: #9e9e9e;
}

.member-description {
  padding-top: 0.4rem;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image img {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}
.image .img-description {
  text-align: center;
  font-size: 1rem;
  color: #9e9e9e;
}

.soft {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 2rem;
  margin-top: 1rem;
}

.soft-card {
  display: grid;
  grid-template-rows: auto auto;
  padding: 0.8rem 1rem;
  border-left: 3px solid #5f85db;
  background-color: #fff;
}

.soft-head {
  display: grid;
  grid-template-columns: auto 1fr;
}

.soft-logo img {
  width: 23px;
  height: 23px;
}

.soft-name {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.soft-description {
  margin-top: 0.5rem;
}

@media screen and (min-width: 767px) {
  .team, .soft {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (min-width: 991px) {
  .image img {
    max-width: 40%;
  }

  .text-block#abouttext {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }
}
@media screen and (min-width: 1199px) {
  .team {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.container {
  width: 100%;
}

.main-space {
  height: auto;
  padding: 0 2rem;
}

.body-fixed {
  overflow-y: hidden;
}

.section {
  padding: 1rem 2rem;
}

.block {
  padding: 1rem 0;
}

.block-title {
  padding: 0.5rem 0;
  font-size: 1.8rem;
  font-weight: 700;
}

.text {
  padding: 1rem 0;
  font-size: 1rem;
  color: #000;
}

button {
  border: none;
  background: none;
}

span.bold {
  font-weight: 700;
}

span.accent {
  padding: 0 0.7rem;
  color: #fff;
  background-color: #5f85db;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
  font-size: 14px;
  background-color: #0f0f0f;
}

.nav {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
  padding: 10px 10px;
  border-radius: 0.8rem;
  transition: 0.4s ease-out;
  background-color: #e9ebf0;
  box-shadow: 0px 0px 26.9px rgba(0, 0, 0, 0.03), 0px 0px 215px rgba(0, 0, 0, 0.06);
}
.sidebar-btn img {
  width: 30px;
  height: 30px;
}

.sidebar-btn-anim {
  box-shadow: 0px 0px 25.2px rgba(0, 0, 0, 0.06), 0px 0px 201px rgba(0, 0, 0, 0.12);
  transform: rotate(90deg);
  transition: 0.4s ease-in;
}

.promo {
  margin-top: 4vh;
  padding: 0 1rem;
}

.promo-info {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #9e9e9e;
}
.promo-info img {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
}

.promo-title {
  margin-top: 1rem;
  font-size: 3rem;
  color: #fff;
}

.promo-subtitle {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #9e9e9e;
}

.statistic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin-top: 2.5rem;
}

.st {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.st-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}

.st-description {
  font-size: 1rem;
  color: #9e9e9e;
}

.get-started-btn {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  background-color: #5f85db;
}

#right-arrow {
  margin-left: 2rem;
}

@media screen and (min-width: 991px) {
  .statistic {
    width: 50%;
  }
}
.popup {
  max-width: 500px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  color: #fff;
  background-color: #5f85db;
  box-shadow: 0px 0px 26.9px rgba(0, 0, 0, 0.03), 0px 0px 215px rgba(0, 0, 0, 0.06);
}

.close-popup-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #000;
}
.close-popup-btn img {
  width: 25px;
  height: 25px;
}

.popup-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.popup-message {
  margin-top: 1rem;
}

.popup-buttons {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.popup-btn {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Montserrat";
  font-size: 1.2rem;
}
.popup-btn#popup-yes {
  color: #000;
  background-color: #e9ebf0;
  border: 2px solid #5f85db;
}
.popup-btn#popup-yes:active, .popup-btn#popup-yes:hover {
  background-color: #90b8f8;
}
.popup-btn#popup-no {
  margin-left: 1rem;
  color: #e9ebf0;
  border: 2px solid #e9ebf0;
}
.popup-btn#popup-no:active {
  background-color: #90b8f8;
}
.sidebar {
  position: absolute;
  width: 75vw;
  height: 100vh;
  background-color: #0f0f0f;
  transform: translateX(-100%);
  transition: 0.4s ease-in-out;
}

.sidebar-anim {
  transform: translateX(0%);
  transition: 0.4s ease-in-out;
}

.sidebar-title {
  padding: 3rem 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}

.sidebar-list {
  padding: 0 2rem;
  list-style: none;
}
.sidebar-list a {
  text-decoration: none;
  color: #fff;
}

.sidebar-el {
  padding: 0.5rem 0;
  font-size: 1.4rem;
}