@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");
.wrapper {
  display: grid;
  grid-template-rows: 0.5fr 5fr 4.5fr;
  height: 100vh;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover__text-block {
  margin-top: 6rem;
}
.cover__text-block .main-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
}
.cover__text-block .main-subtitle {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 1rem;
  color: #9e9e9e;
}

img.cover-image {
  margin-top: 4rem;
  margin-bottom: 0;
  width: 400px;
}

.bottom {
  display: flex;
  padding: 3rem 3rem;
  background-color: #3a40e7;
  font-size: 1rem;
  color: #fff;
}

.bottom-wrapper {
  max-width: 600px;
}

#get-started-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

#get-started-btn {
  width: 10rem;
  height: 3rem;
  border-radius: 0.6rem;
  font-size: 1.2rem;
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
  font-size: 14px;
}

ul {
  list-style: none;
}

button {
  border: none;
  font-family: "Montserrat";
}
#navigation_bar {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1rem 2rem;
}

#logo {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
}

#sidebar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.7rem;
  background-color: #e9ebf0;
  transition: 0.3s ease;
  box-shadow: 0px 0px 6px -63px rgba(0, 0, 0, 0.135), 0px 0px 16.7px -63px rgba(0, 0, 0, 0.192), 0px 0px 40.1px -63px rgba(0, 0, 0, 0.24), 0px 0px 133px -63px rgba(0, 0, 0, 0.36);
}
#sidebar-btn img {
  width: 30px;
  height: 30px;
}

.sidebar-btn-animation {
  transform: rotate(90deg);
  transition: 0.3s ease;
}
.sidebar {
  position: absolute;
  width: 70vw;
  height: 100vh;
  padding: 3rem 2rem;
  background-color: #0f0f0f;
  transform: translateX(-100%);
  transition: 0.3s ease;
}

.sidebar-opened {
  transform: translateX(0%);
  transition: 0.3s ease;
}

.sidebar-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}

.menu-list {
  margin-top: 2rem;
}

.list-el {
  padding: 0.2rem 0;
  font-size: 1.2rem;
  color: #fff;
}